# Ignore node_modules directory
node_modules/

# Ignore build directory
dist/

# Ignore any .log files
*.log

# Ignore any editor files
.vscode/
.idea/

# Ignore any OS-specific files
.DS_Store
Thumbs.db
